<div *ngIf="album">   
    <div class="row">
            <h3>{{album.name}}</h3>
            <img class="img-responsive" src="{{album.images[0].url}}">      
    </div>
    <div class="row tracks-section well">
            <div *ngFor="let track of album.tracks.items">   
                <div class="track-link">
                    <h5>Track #{{track.track_number}} - {{track.name}}</h5>
                    <a href="{{track.preview_url}}" target="_blank">Preview song!</a>
                </div>  
            </div>
    </div>

</div>