<h3>Search for your favorite songs!</h3>
<form>
    <div class="form-group"> 
    <input class="form-control" 
           placeholder="Please enter artist name..."
           type="text" name="searchStr" [(ngModel)]="searchStr" 
           (keyup)="searchArtist()">
    </div>
</form>


    <div *ngIf="searchResArtists">
        <div *ngFor="let artist of searchResArtists">
            <div class="row">
                <div class="col-md-12">
                    {{artist.name}}
                </div>
            </div>
        </div>
    </div>
