<h3>Search for your favorite songs!</h3>
<form>
    <div class="form-group"> 
    <input class="form-control" 
           placeholder="Please enter artist name..."
           type="text" name="searchStr" [(ngModel)]="searchStr" 
           (keyup)="searchArtist()">
    </div>
</form>


    <div *ngIf="searchResArtists">
        <div *ngFor="let artist of searchResArtists">
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                       <a routerLink="/artist/{{artist.id}}">{{artist.name}}</a>
                       <h4>Genre:</h4>
                       <span *ngFor="let genre of artist.genres">
                           {{genre}}
                       </span>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
